<!DOCTYPE html>
<html>
	<head>
		<title>DB Editor</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/res/styles.css" />
		<% include setupScript.ejs %>
	</head>
	<body id="dbEditor">
		<% include loginBox.ejs %>
		<h1>DB Editor</h1>
		<main>
		<!-- dynamically generated content -->
		</main>
	</body>
</html>
