<!DOCTYPE html>
<html>
	<head>
		<title><%= short %></title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1><%= short %></h1>
		<p><%= message %></p>
		
		<footer>
			<small>This is a temp page and will definitely not stay like that</small>
		</footer>
	</body>
</html>
