<!DOCTYPE html>
<html>
	<head>
		<title>Login error</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>Login error</h1>
		<p>The credentials you supplied for <i><%= login %></i> are invalid.</p>
		
		<footer>
			<small>This is a temp page and will definitely not stay like that</small>
		</footer>
	</body>
</html>
