<!DOCTYPE html>
<html>
	<head>
		<title>Login box test</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/res/styles.css" />
		<% include setupScript.ejs %>
	</head>
	<body>
		<% include loginBox.ejs %>
	</body>
</html>
