<!DOCTYPE html>
<html>
	<head>
		<title>Missing permissions</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>Missing permissions</h1>
		<p>You are lacking the following permissions: <%= missingPerm.join(', ') %></p>
		
		<footer>
			<small>This is a temp page and will definitely not stay like that</small>
		</footer>
	</body>
</html>
